.app-header {
    background-color: #e8f8ea;
    width: 100%;
}

.app-header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-header div img {
    max-height: 70px;
    max-width: 100%;
    width: auto;
    margin-left: 10px;
}


.app-header nav ul {
    list-style: none;
    text-decoration: none;
    display: flex;
}

.app-header ul li a {
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 20px;
    color: #333;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.2s ease;
}

.app-header nav ul li a:hover,
.app-header nav ul li a.active {
    color: #2e7d32;
    transition: background-color 0.3s ease;
}