:root {
  font-family: system-ui;
  line-height: 1.5;
  font: 16px;
  color: #213547;
  background-color: #ffffff;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
}

h1 {
  font-size: 44px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 16px;
  border-color: #b6b6b6;
  background-color: #c2ffaa;
  transition: border-color 0.3s;
}

button:hover {
  border-color: #b6b6b6;
  background-color: #c2ffaa;
}